
// ---------- COLORS ---------- //
//Common
$body-background: #343498;
$green: #00cc62;
$blue: #2975cf;
$hover-blue: #0287d0;
$light-blue: #74bff1;
$dark-blue: #393aa7;
$circle-blue: #32339b;
$red: #f06f5f;
$white: #ffffff;
$field-border: #dee3ed;
$soft-grey: #f2f3f8;
$input-background: #f4f5f9;
$alice-blue: #f7fafc;
$form-grey: #e0e4ee;
$slider-blue: #3a76d2;
$grey-border: #9297b7;

// Text
$primary-text: #182f3e;
$dark-text: #1a2c36;
$secondary-text: #878cac;
$helper-grey-text: #acb0c9;

// ---------- MIXINS ---------- //

// ---------- Text Mixins ---------- //
$header-size: 15px;
$regular-size: 14px;
$helper-size: 12px;

@mixin header { // use this one to name headings like 'USERNAME', 'SOCIAL LINKS'...
  font-family: $font-family;
  font-size: $header-size;
  font-weight: 600;
  color: $dark-blue;
  text-transform: uppercase;
}

@mixin section-title { // use this one to name title inside header section. Example 'Hide HeyLink.me Logo'...
  font-family: $font-family;
  font-size: $header-size;
  font-weight: 600;
  color: $primary-text;
}

@mixin field-label { // use this one for labels for Input fields, Dropdowns, Textareas...
  margin-bottom: 8px;
  font-family: $font-family;
  font-weight: 500;
  color: $primary-text;
}

@mixin sub-title($type: '') {
  font-family: $font-family;
  font-size: $header-size;
  font-weight: 400;

  @if ($type == 'grey') {
    color: $secondary-text;
  } @else {
    color: $primary-text;
  }
}

@mixin regular($type: '') {
  font-family: $font-family;
  font-size: $regular-size;
  font-weight: 400;

  @if ($type == 'grey') {
    color: $secondary-text;
  } @else {
    color: $primary-text;
  }
}

@mixin helper {
  font-family: $font-family;
  font-size: $helper-size;
  font-weight: 400;
}

@mixin link-title {
  font-family: $font-family;
  font-size: $header-size; // TODO: on mobile should be 10px
  color: $primary-text;
  font-weight: 500;
}

@mixin link {
  font-family: $font-family;
  font-size: $helper-size; // TODO: on mobile should be 10px
  color: $blue;
}
// ---------- end Text Mixins ---------- //

@mixin label-text {
  margin-bottom: 10px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  color: $secondary-text;
}

// Common
@mixin border-radius($radius...) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-detailed($tl, $tr, $br, $bl) {
  -webkit-border-radius: $tl $tr $br $bl;
  -moz-border-radius: $tl $tr $br $bl;
  -ms-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}

@mixin box-shadow($horizontal, $vertical, $blur, $color) {
  -webkit-box-shadow: $horizontal $vertical $blur $color;
  -moz-box-shadow: $horizontal $vertical $blur $color;
  box-shadow: $horizontal $vertical $blur $color;
}

@mixin box-shadow-detailed($params...) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

@mixin box-shadow-none {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@mixin box-sizing($param) {
  -webkit-box-sizing: $param;
     -moz-box-sizing: $param;
          box-sizing: $param;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin transition($property, $time, $function) {
  -webkit-transition: $property $time $function;
  -moz-transition: $property $time $function;
  -ms-transition: $property $time $function;
  -o-transition: $property $time $function;
  transition:  $property $time $function;
}

@mixin transition-detailed($property...) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -ms-transition: $property;
  -o-transition: $property;
  transition:  $property;
}


// Flex
@mixin display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin display-inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex
}

@mixin flex-wrap($value) {
  -webkit-flex-wrap: $value;
  -moz-flex-wrap: $value;
  -ms-flex-wrap: $value;
  -o-flex-wrap: $value;
  flex-wrap: $value;
}

@mixin align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin align-items-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@mixin align-items-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@mixin align-items-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@mixin align-content-stretch {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

@mixin jc-flex-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@mixin jc-flex-end {
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@mixin jc-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@mixin jc-space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@mixin jc-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin flex($flex-style) {
  -webkit-flex: $flex-style;
  -ms-flex: $flex-style;
  flex: $flex-style;
}

@mixin order($value) {
  -webkit-box-ordinal-group: $value;
  -webkit-order: $value;
  -ms-flex-order: $value;
  order: $value;
}

@mixin flex-direction($value) {
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flex-gap($value) {
  -webkit-gap: $value;
  -moz-gap: $value;
  gap: $value;
}

@mixin  align-self-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

@mixin  align-self-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

@mixin  align-self-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

@mixin align-items-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end
}

@mixin filter($value...) {
  -webkit-filter: $value;
  -moz-filter: $value;
  -o-filter: $value;
  -ms-filter: $value;
  filter: $value;
}

@mixin placeholder-detailed() {
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    @content;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    @content;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    @content;
  }
}

// This mixin relates to themes-handler.scss
@mixin baseThemeSection($themePrefix, $themeSection, $extendSection: false) {
  %#{unquote("#{$themePrefix}-#{$themeSection}")} {
    @if $extendSection {
      @content;

      @extend %#{unquote("#{$themePrefix}-#{$extendSection}")} !optional;
    } @else {

      @content;

    }

  }
}

// helper for baseThemeSection();
@mixin extendBaseThemeSection($themePrefix, $extendSection) {
  @content;

  @extend %#{unquote("#{$themePrefix}-#{$extendSection}")};
}

@mixin sticky($params...) {
  position: -webkit-sticky $params;
  position: sticky $params;
};

@mixin common-scroll($width, $track-color, $thumb-color, $radius: 0px, $orientation: 'vertical') {
  scrollbar-color: rgba($thumb-color, 0.5) $track-color;

  &::-webkit-scrollbar {
    @include border-radius($radius);
    @if ($orientation == 'horizontal') {
      height: $width;
    } @else {
      width: $width;
    }
  }

  &::-webkit-scrollbar-track {
    @include border-radius($radius);
    background: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    @include border-radius($radius);
    background: $thumb-color;
    &:hover {
      background: rgba($thumb-color, 1);
    }
  }
}
